*
{
    animation-name: Appearance;
    animation-duration: 2s;
    transition-timing-function: ease;



    /* outline: 1px solid red !important; */


}

@keyframes Appearance {
    0% {opacity: 0;}
  
    100% {opacity: 1;}
  }


html
{
    background-color: white;
    scroll-behavior: smooth;
    scroll-padding-top: 6%;
    scrollbar-width: none;
    scrollbar-color: black white;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* @media screen and (max-width: 1070px) {
    html
{
    scroll-padding-top: 7.5%;
  }
}

@media screen and (max-width: 611px) {
    html
{
    scroll-padding-top: 11%;
  }
}

@media screen and (max-width: 458px) {
    html
{
    scroll-padding-top: 14.5%;
  }
}

@media screen and (max-width: 305px) {
    html
{
    scroll-padding-top: 25%;
  }
} */

body
{
    margin: 0;
}


header
{
    flex-wrap: wrap;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header__logo__img
{
    display: flex;
    align-items: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 400px;
}


.header__nav
{
    flex-wrap: wrap;
    display:flex;
    width: 500px;
    justify-content: center;
}

.header__nav__button
{
    flex:auto;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease-in-out;
    margin: 1%;
    padding: 3px;
    width: 100px;
    min-height: 40px;
    text-decoration: none;
    font-weight: 200;
}


@media screen and (max-width: 970px) {
    .header__logo
{
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
  .header__nav
{
    width: 100%; 
}
}

@media screen and (max-width: 410px) {
    .header__logo
{
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
  .header__logo__img
  {
  width: 100%;

  }
}

nav {
    font-weight: 400;
    flex-wrap: wrap;
    background-color:white;
    display: flex;
    gap: 20px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    box-shadow: black 5px 5px 20px -10px, rgb(0, 0, 0) -5px -5px 20px -10px;
}

.nav__button {
    flex: auto;
    background-color: white;
    color:black;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease-in-out;
    width: 50px;
    height: 30px;
    min-width: 135px;
    text-decoration: none;
}

.nav__button:hover,
.nav__button:focus
{
    background-color: #fff;
    color: black;
    width: 150px;
    font-weight: 800;
    box-shadow: black 5px 5px 20px -10px, rgb(0, 0, 0) -5px -5px 20px -10px;
}

@media screen and (max-width: 1176px) {
    nav
    {
        gap: 0px;
    }
    .nav__button
    {
       border: 0.5px solid black;
       margin: -1px 0px -1px 0px;  
    }
    .nav__button:hover,
    .nav__button:focus
    {
        box-shadow: rgba(255, 255, 255, 0) 5px 5px 20px -10px, rgba(255, 255, 255, 0) -5px -5px 20px -10px;;
    }
}

.about
{   
    background-color: black;
    display: flex;
    overflow: hidden;
    padding: 2% 3% 2% 0%;
    justify-content: space-between;
}

.about__logo
{      
    background: url('/images/about__logo__img.jpg') no-repeat;
    box-shadow: inset 0px 0px 20px 30px rgba(0,0,0,0.9);
    width: 400px;
    height: 300px;
    background-size: 400px auto;
    background-position: top -10px right -10px;
    scale: 2.2;
}

.about__text
{   
    font-weight: 100;
    font-size: 20px;
    line-height: 25px;
    width: 67%;
    display: flex;
    text-align: center;
    align-items: center;
    color:  white;
    z-index: 100;
}

@media screen and (max-width: 1189px) {
    .about
    {
        display: block;
        padding: 0% 3% 2% 3%;
    }
    .about__logo
    {
        background: url('/images/about__logo__img.jpg') no-repeat;
        box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.9);
        width: 100%;
        height: 150px;
        background-size: 500px auto;
        background-position: top 55% right 53%;
        scale: 1;
    }
    .about__text
    {   
        margin-top: 1%;
        width: 100%;
    }
}
















h2
{
    text-align: center;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 250%;
}

.delivery-and-payment
{
    margin-top:900px;
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.delivery-and-payment__info
{
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
}

.delivery__details,
.payment__details
{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.delivery__details > div,
.payment__details > div
{
    display: flex;
    flex:auto;
    flex-wrap: wrap;
    width: 350px;
    padding: 1% 0% 1% 100px;
    min-height: 60px;
    align-items: center;
    font-weight: 400;
    position: relative;
}


.delivery__details__1st::before 
{
    content: "";
    background-image: url('/images/icons/delivery__icon__1st.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

.delivery__details__2nd::before 
{
    content: "";
    background-image: url('/images/icons/delivery__icon__2nd.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

.delivery__details__3rd::before 
{
    content: "";
    background-image: url('/images/icons/delivery__icon__3rd.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

.payment__details__1st::before 
{
    content: "";
    background-image: url('/images/icons/payment__details__1st.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

.payment__details__2nd::before 
{
    content: "";
    background-image: url('/images/icons/payment__details__2nd.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

.payment__details__3rd::before 
{
    content: "";
    background-image: url('/images/icons/payment__details__3rd.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

@media screen and (max-width: 1530px) {
    .delivery__details__3rd,
    .payment__details__3rd
    {
        margin-top: 1%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 1020px) {
    .delivery__details__3rd,
    .payment__details__3rd
    {
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }
}

footer
{
    padding: 2% 5% 0 5%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    box-shadow: rgb(0, 0, 0) 0px -5px 20px -5px;
}

.footer__info
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 3%;
}

.footer__logo
{
   min-width: 40%; 
}

.footer__logo__img
{
    width: 230px;
}

@media screen and (max-width: 989px) {
    .footer__logo {
        min-width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer__logo__img
    {
    width: 200px;
    }
  }

@media screen and (max-width: 337px) {
    .footer__logo__img
    {
    width: 100px;
    }
  }

  @media screen and (max-width: 479px) {
    .footer__contacts,
    .footer__social
{
    width: 100%;
  }
}

.footer__contacts,
.footer__social
{
    min-width: 30%;
    flex-wrap: wrap;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

h3
{
    text-align: left;
    min-width: 170px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 1%;
}

.footer__contacts > a,
.footer__social > a
{
    min-width: 170px;
    margin: 1%;
    text-decoration: none;
    color: white;
    font-weight: 200;
    position: relative;
    display: flex;
    align-items: center;
}

.footer__rights
{
    color: white;
    border-top: 1px solid white;
    text-align: center;
    padding: 1% 0 1%;
    font-size: 14px;
}

.footer__contacts__map::before 
{
    content: "";
    background-image: url('/images/icons/map-icon.png');
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    position: absolute;
    left:-40px;
}

.footer__contacts__phone::before 
{
    content: "";
    background-image: url('/images/icons/phone-icon.png');
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    position: absolute;
    left:-40px;
}

.footer__contacts__mail::before 
{
    content: "";
    background-image: url('/images/icons/mail-icon.png');
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    position: absolute;
    left:-39px;
}

.footer__social__vk::before 
{
    content: "";
    background-image: url('/images/icons/vk-icon.png');
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    position: absolute;
    left:-38px;
}

.footer__social__tg::before 
{
    content: "";
    background-image: url('/images/icons/tg-icon.png');
    width: 18.5px;
    height: 18.5px;
    background-size: 18.5px 18.5px;
    position: absolute;
    left:-35px;
}

.footer__social__lm::before 
{
    content: "";
    background-image: url('/images/icons/lm-icon.png');
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    position: absolute;
    left:-35px;
}

.footer__social__yt::before 
{
    content: "";
    background-image: url('/images/icons/youtube-icon.png');
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    position: absolute;
    left:-37px;
}

#back-to-top {
    text-decoration: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    border: 1px solid;
    display: none;
    font-size: 20px;
    color: black;
    background: white;
    padding: 4px 10px 5px 10px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 10px;
}
   
  #back-to-top:hover {
    color: white;
    background: black;
    border: 1px solid;
    text-decoration: none;
    border-radius: 10px;
}