*
{
    /* outline: 1px solid red !important; */
    animation-name: Appearance;
    animation-duration: 2s;
    transition-timing-function: ease;
}

@keyframes Appearance {
    0% {opacity: 0;}
  
    100% {opacity: 1;}
  }

html
{
    background-color: white;
    scroll-behavior: smooth;
    scroll-padding-top: 145px;
    scrollbar-width: none;
    scrollbar-color: black white;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

@media screen and (min-width: 4000px) {
    html
    {
        max-width: 4000px;
        margin: 0px auto;
        
    }
}

body
{
    margin: 0;
}

.black
{
    text-align: center;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 250%;
    margin-top: 0%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    color:white;
    background-color: black;
}

.white
{
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 250%;
    margin-top: 0%;
    padding-top: 2%;
}

h4
{
   font-size: large;
   font-weight: 400;
   font-size: 20px;
   position: relative;
   text-align: center;
}

h4::before {
    content: "";
    border-bottom: 1px solid black;
    width: 100px;
    height: 0.5em;
    position: absolute;
    top: 0px;
    margin-left: -115px;
}
  h4::after {
    content: "";
    border-bottom: 1px solid black;
    width: 100px;
    height: 0.5em;
    position: absolute;
    top: 0px;
    margin-left: 15px;
}

@media screen and (max-width: 900px) {
    h4
    {
        border-bottom: 1px solid black;
        text-align: center;
    }
    h4::before,
    h4::after {
        all: initial;
    }
}

header
{
    flex-wrap: wrap;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo__img
{
    display: flex;
    align-items: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 400px;
}

.header__nav
{
    flex-wrap: wrap;
    display:flex;
    width: 500px;
    justify-content: center;
}

.header__nav__button
{
    flex:auto;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease-in-out;
    margin: 1%;
    padding: 3px;
    width: 100px;
    min-height: 40px;
    text-decoration: none;
    font-weight: 200;
}

.header__nav__button:hover
{
    color: black;
    background-color: white;
    font-size: 17px;
}

@media screen and (max-width: 970px) {
    .header__logo
{
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
  .header__nav
{
    width: 100%; 
}
}

@media screen and (max-width: 410px) {
    .header__logo
{
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
  .header__logo__img
  {
  width: 100%;

  }
}

nav {
    font-weight: 400;
    flex-wrap: wrap;
    background-color:white;
    display: flex;
    gap: 20px;
    position: sticky;
    top: -1px;
    z-index: 1000;
    box-shadow: black 0px 12px 20px -10px;
}

.nav__button {
    flex: auto;
    background-color: white;
    color:black;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease-in-out;
    width: 50px;
    height: 30px;
    min-width: 135px;
    text-decoration: none;
}

.nav__button:hover,
.nav__button:focus
{
    background-color: #fff;
    color: black;
    width: 150px;
    font-weight: 700;
    box-shadow: black 5px 5px 20px -10px, black -5px -5px 20px -10px;
}

@media screen and (max-width: 1206px) {
    nav
    {
        gap: 0px;
    }
    .nav__button
    {
       border: 0.5px solid black;
       margin: -1px 0px -1px 0px;  
    }
    .nav__button:hover,
    .nav__button:focus
    {
        box-shadow: black 5px 5px 20px -10px, black -5px -5px 20px -10px;;
    }
}

.about
{   
    background-color: black;
    display: flex;
    overflow: hidden;
    padding: 2% 3% 2% 0%;
    justify-content: space-between;
    box-shadow: black 0px 5px 20px -10px;
}

.about__logo
{      
    background: url('/images/about__logo__img.jpg') no-repeat;
    box-shadow: inset 0px 0px 20px 30px black;
    width: 400px;
    height: 300px;
    background-size: 400px auto;
    background-position: top -10px right -10px;
    scale: 2.2;
}

.about__text
{   
    font-weight: 100;
    font-size: 20px;
    line-height: 25px;
    width: 65%;
    display: flex;
    text-align: center;
    align-items: center;
    color:  white;
    z-index: 100;
}

@media screen and (max-width: 1206px) {
    .about
    {
        display: block;
        padding: 0% 3% 2% 3%;
    }
    .about__logo
    {
        background: url('/images/about__logo__img.jpg') no-repeat;
        box-shadow: inset 0px 0px 20px 10px black;
        width: 100%;
        height: 150px;
        background-size: 500px auto;
        background-position: top 55% right 53%;
        scale: 1;
    }
    .about__text
    {   
        margin-top: 1%;
        width: 100%;
    }
}

.discount
{
    padding: 1% 0 1% 0;
    position: relative;
    text-align: center;
    font-weight: 200;
    font-size: 180%;
    box-shadow: black 0px -12px 20px -10px, black 0px 0px 20px -10px;
    z-index: 800;
}

.goods
{
    z-index: 900;
    position: relative;
    box-shadow: black 0px -5px 20px -10px, black 0px 12px 20px -10px;
    padding-bottom: 2%;
}

.goods > div
{
    margin: 0% 5% 0% 5%;
}

.product-text
{
    font-weight: 200;
    font-size: 19px;
}

.product__size
{
    font-weight: 400;
}

.product__order-button
{
    width: 180px;
    height: 50px;
    color:white;
    background-color: black;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.product__order-button:hover,
.product__order-button:focus
{
    color:black;
    background-color: white;
    border: 2px solid black;
    font-size: 22px;
}

@media screen and (max-width: 900px) {
    .product__order-button
    {
        margin-top: 15px;
    }
}

.wallets > div:not(.trucker-wallet),
.holders > div:not(.bill-clip),
.bags > div:not(.custom-cross-body-bag),
.belts > div:not(.classic-woman-belt),
.accessories > div:not(.airpods-case),
.mixed-goods > div:not(.edc-tray),
.additional-services > div:not(.embossing)
{
    border-bottom: 2px dashed black;
}

.product__info
{
    display: flex;
    padding-bottom: 2%;
}

.product__photoes
{
    height: 400px;
    width: 40%;
    display: flex;
}

.trucker-wallet .product__photoes,
.cardholder-v2 .product__photoes,
.bill-clip .product__photoes,
.classic-patches .product__photoes
{
    height: 270px;
}

.custom-cross-body-bag .product__photoes,
.airpods-case .product__photoes,
.knife-case .product__photoes,
.edc-tray .product__photoes
{
    height: 300px;
}

.classic-man-belt .product__photoes,
.classic-woman-belt .product__photoes,
.rune-bag .product__photoes,
.embossing .product__photoes
{
    height: 250px;
}

.product__secondary-photoes
{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product__small-size-img
{
    width: 100%;
    max-height: 130px;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.product__big-size-img
{
    width: 100%;
    max-height: 90px;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.product__small-size-img:hover,
.product__big-size-img:hover
{
    scale: 1.2;
    box-shadow: 0px 3px 21px -3px black;
}

.product__main-photo
{
    padding: 0 0 0 7%;
}

.airpods-case .product__main-photo 
{
    padding: 0;
}

.product__main-img
{
    height: 100%;
    transition: 0.5s ease-in-out;
}

.product__main-img:hover
{
    scale: 1.05;
    box-shadow: 0px 5px 21px -3px black;
}

.product__description
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 1800px) {
    .product__small-size-img
    {
        max-width: 100px;
    }
}

@media screen and (max-width: 1280px) {
    .product__description
    {
        width: 50%;
    }
    .product__photoes
    {
        width: 50%;
        display: flex;
    }
    .product__main-photo
    {
        padding: 0 0 0 5%;
    }
    .product__secondary-photoes
    {
        width: 15%;
    }
}

@media screen and (max-width: 900px) {
    .product__info
    {
        display: flex;
        flex-direction: column;
    }
    .product__photoes,
    .product__description
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .product__photoes
    {
        flex-direction: column-reverse;
        height: auto;
    }
    .product__description
    {
        padding-top: 15px;
    }
    .product__main-photo
    {
        height: 300px;
        padding: 0;
    }
    .product__secondary-photoes
    {
        padding: 15px 0 15px 0;
        flex-direction: row;
        width: 80%;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        border-bottom: 1px solid black;
    }
    .product__small-size-img,
    .product__big-size-img
    {
        height: 80px;
        display: flex;
        justify-content: center;
        transition: 0.5s ease-in-out;
    }
}

@media screen and (max-width: 550px) {
    .product__secondary-photoes
    {
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .trucker-wallet .product__main-photo,
    .bill-clip .product__main-photo,
    .classic-man-belt .product__main-photo,
    .classic-woman-belt .product__main-photo,
    .rune-bag .product__main-photo,
    .custom-patches .product__main-photo,
    .knife-case .product__main-photo,
    .edc-tray .product__main-photo,
    .concho .product__main-photo,
    .embossing .product__main-photo
    {
        padding: 0 0 0 2%;
    }
}

@media screen and (max-width: 900px) {
    .trucker-wallet .product__main-photo,
    .cardholder-v2 .product__main-photo,
    .bill-clip .product__main-photo,
    .custom-cross-body-bag .product__main-photo,
    .classic-man-belt .product__main-photo,
    .classic-woman-belt .product__main-photo,
    .airpods-case .product__main-photo,
    .rune-bag .product__main-photo,
    .custom-patches .product__main-photo,
    .classic-patches .product__main-photo,
    .knife-case .product__main-photo,
    .edc-tray .product__main-photo,
    .concho .product__main-photo,
    .embossing .product__main-photo
    {
        padding: 0;
    }
    .trucker-wallet .product__photoes,
    .cardholder-v2 .product__photoes,
    .bill-clip .product__photoes,
    .custom-cross-body-bag .product__photoes,
    .classic-man-belt .product__photoes,
    .classic-woman-belt .product__photoes,
    .rune-bag .product__photoes,
    .classic-patches .product__photoes,
    .knife-case .product__photoes,
    .edc-tray .product__photoes,
    .embossing .product__photoes
    {
        height: 400px;
    }
    .airpods-case .product__photoes
    {
        height: 290px;
    }
    .trucker-wallet .product__secondary-photoes,
    .cardholder-v2 .product__secondary-photoes,
    .bill-clip .product__secondary-photoes,
    .custom-cross-body-bag .product__secondary-photoes,
    .classic-man-belt .product__secondary-photoes,
    .classic-woman-belt .product__secondary-photoes,
    .airpods-case .product__secondary-photoes,
    .rune-bag .product__secondary-photoes,
    .classic-patches .product__secondary-photoes,
    .knife-case .product__secondary-photoes,
    .edc-tray .product__secondary-photoes,
    .embossing .product__secondary-photoes
    {
        height: initial;
    }
    .trucker-wallet .product__main-img,
    .cardholder-v2 .product__main-img,
    .bill-clip .product__main-img,
    .custom-cross-body-bag .product__main-img,
    .classic-man-belt .product__main-img,
    .classic-woman-belt .product__main-img,
    .airpods-case .product__main-img,
    .rune-bag .product__main-img,
    .classic-patches .product__main-img,
    .knife-case .product__main-img,
    .edc-tray .product__main-img,
    .embossing .product__main-img
    {
        height: 100%;
    }
    .trucker-wallet .product__main-photo,
    .cardholder-v2  .product__main-photo,
    .bill-clip .product__main-photo,
    .custom-cross-body-bag .product__main-photo,
    .classic-man-belt .product__main-photo,
    .classic-woman-belt .product__main-photo,
    .airpods-case .product__main-photo,
    .rune-bag .product__main-photo,
    .classic-patches .product__main-photo,
    .knife-case .product__main-photo,
    .edc-tray .product__main-photo,
    .embossing .product__main-photo
    {
        height: 290px;
    }
}

@media screen and (max-width: 650px) {
    .custom-cross-body-bag .product__secondary-photoes
    {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .custom-cross-body-bag .product__small-size-img
    {
        height: 50px;
    }
    .custom-cross-body-bag .product__photoes
    {
        height: 370px;
    }
}

@media screen and (max-width: 450px) {
    .classic-man-belt .product__main-photo,
    .classic-woman-belt .product__main-photo,
    .airpods-case .product__main-photo,
    .rune-bag .product__main-photo,
    .embossing .product__main-photo
    {
        height: 200px;
    }
    .classic-man-belt .product__photoes,
    .classic-woman-belt .product__photoes,
    .rune-bag .product__photoes,
    .embossing .product__photoes
    {
        height: 310px;
    }
    .airpods-case .product__photoes
    {
        height: 200px;
    }
}

@media screen and (max-width: 400px) {
    .trucker-wallet .product__main-photo,
    .bill-clip .product__main-photo,
    .classic-patches .product__main-photo,
    .knife-case .product__main-photo,
    .edc-tray .product__main-photo
    {
        height: 200px;
    }
    .trucker-wallet .product__photoes,
    .bill-clip .product__photoes,
    .classic-patches .product__photoes,
    .knife-case .product__photoes,
    .edc-tray .product__photoes
    {
        height: 310px;
    }
}

@media screen and (max-width: 350px) {
    .custom-cross-body-bag .product__main-photo
    {
        height: 220px;
    }
    .custom-cross-body-bag .product__photoes
    {
        height: 300px;
    }
}

@media screen and (max-width: 340px) {
    .cardholder-v2 .product__main-photo
    {
        height: 230px;
    }
    .cardholder-v2 .product__photoes
    {
        height: 340px;
    }
} 

.order-info
{   
    min-height: 230px;
    background-color: black;
    display: flex;
    overflow: hidden;
    padding: 2% 3% 2% 3%;
    justify-content: space-between;
    box-shadow: black 0px 12px 20px -10px, black 0px 0px 20px -10px;;
}

.order-info__logo
{   
    display: flex;  
}

.order-info__logo__img
{
    position: relative;
    top: -22px;
    left: -25px;
    height: 200px;
    scale: 3;
    rotate: 40deg;
}

.order-info__text
{   
    font-weight: 100;
    font-size: 20px;
    line-height: 25px;
    width: 65%;
    display: flex;
    text-align: center;
    align-items: center;
    color:  white;
    z-index: 100;
}

@media screen and (max-width: 1085px) {
    .order-info__text
    {
        width: 80%;
    }
}

@media screen and (max-width: 882px) {
    .order-info__text
    {
        width: 100%;
    }
}


@media screen and (max-width: 875px) {
    .order-info
    {
        display: grid;
    }
    .order-info__text
    {
        grid-area: 1 / 1;
        width: 100%;
    }
    .order-info__logo
    {
        grid-area: 1 / 1;
        display: grid;
        place-items: center end;
    }
    .order-info__logo__img
    {
        padding-bottom: 1.5%;
    }
}

@media screen and (max-width: 705px) {
    .order-info__logo__img
    {
        padding-bottom: 2%;
    }
}

@media screen and (max-width: 450px) {
    .order-info__logo
    {
        place-items: center center;
    }
    .order-info__logo__img
    {
        rotate: 0deg;
        padding: 0 0 0 6%;
    }
}

@media screen and (min-width: 1920px) {
    .order-info__logo__img
    {
        left: 20px;
    }
}

@media screen and (min-width: 2800px) {
    .order-info__logo__img
    {
        top:-45px;
        height: 250px;

    }
}

.delivery-and-payment
{
    position: relative;
    z-index: 900;
    box-shadow: black 0px -12px 20px -10px;
}

.delivery-and-payment__info
{
    margin: 0% 5% 1% 5%;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
}

.delivery__details,
.payment__details
{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.delivery__details > div,
.payment__details > div
{
    display: flex;
    flex:auto;
    flex-wrap: wrap;
    width: 350px;
    padding: 1% 0% 1% 100px;
    min-height: 60px;
    align-items: center;
    font-weight: 400;
    position: relative;
}


.delivery__details__1st::before 
{
    content: "";
    background-image: url('/images/icons/delivery__icon__1st.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

.delivery__details__2nd::before 
{
    content: "";
    background-image: url('/images/icons/delivery__icon__2nd.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

.delivery__details__3rd::before 
{
    content: "";
    background-image: url('/images/icons/delivery__icon__3rd.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

.payment__details__1st::before 
{
    content: "";
    background-image: url('/images/icons/payment__details__1st.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

.payment__details__2nd::before 
{
    content: "";
    background-image: url('/images/icons/payment__details__2nd.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

.payment__details__3rd::before 
{
    content: "";
    background-image: url('/images/icons/payment__details__3rd.png');
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    position: absolute;
    left:20px;
}

@media screen and (max-width: 1530px) {
    .delivery__details__3rd,
    .payment__details__3rd
    {
        margin-top: 1%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 1020px) {
    .delivery__details__3rd,
    .payment__details__3rd
    {
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }
}

footer
{
    padding: 2% 5% 0 5%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    box-shadow: rgb(0, 0, 0) 0px -5px 20px -5px;
}

.footer__info
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 3%;
}

.footer__logo
{
   min-width: 40%; 
}

.footer__logo__img
{
    width: 230px;
}

@media screen and (max-width: 989px) {
    .footer__logo {
        min-width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer__logo__img
    {
    width: 200px;
    }
  }

@media screen and (max-width: 337px) {
    .footer__logo__img
    {
    width: 100px;
    }
  }

  @media screen and (max-width: 479px) {
    .footer__contacts,
    .footer__social
{
    width: 100%;
  }
}

.footer__contacts,
.footer__social
{
    min-width: 30%;
    flex-wrap: wrap;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

h3
{
    text-align: left;
    min-width: 170px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 1%;
}

.footer__contacts > a,
.footer__social > a
{
    min-width: 170px;
    margin: 1%;
    text-decoration: none;
    color: white;
    font-weight: 200;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.footer__contacts > a:hover,
.footer__social > a:hover
{
    font-size: 18px;
}

.footer__rights
{
    color: white;
    border-top: 1px solid white;
    text-align: center;
    padding: 1% 0 1%;
    font-size: 14px;
}

.footer__contacts__map::before 
{
    content: "";
    background-image: url('/images/icons/map-icon.png');
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    position: absolute;
    left:-40px;
}

.footer__contacts__phone::before 
{
    content: "";
    background-image: url('/images/icons/phone-icon.png');
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    position: absolute;
    left:-40px;
}

.footer__contacts__mail::before 
{
    content: "";
    background-image: url('/images/icons/mail-icon.png');
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    position: absolute;
    left:-39px;
}

.footer__social__vk::before 
{
    content: "";
    background-image: url('/images/icons/vk-icon.png');
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    position: absolute;
    left:-38px;
}

.footer__social__tg::before 
{
    content: "";
    background-image: url('/images/icons/tg-icon.png');
    width: 18.5px;
    height: 18.5px;
    background-size: 18.5px 18.5px;
    position: absolute;
    left:-35px;
}

.footer__social__lm::before 
{
    content: "";
    background-image: url('/images/icons/lm-icon.png');
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    position: absolute;
    left:-35px;
}

.footer__social__yt::before 
{
    content: "";
    background-image: url('/images/icons/youtube-icon.png');
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    position: absolute;
    left:-37px;
}

#back-to-top {
    text-decoration: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    border: 1px solid;
    display: none;
    font-size: 20px;
    color: black;
    background: white;
    padding: 4px 10px 5px 10px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 10px;
}
   
#back-to-top:hover {
    color: white;
    background: black;
    border: 1px solid;
    text-decoration: none;
    border-radius: 10px;
}